<!doctype html>
<html>
<head>
<title></title>
</head>
<body>

<div class="container is-fluid">
    <div class="notification">
        <h1 class="has-text-centered">
            <a href="../index.html">Home</a>
        </h1>
    </div>
</div>

<div id="root">
    <ul v-for="name in names">
        <li>{{ name }}</li>
    </ul>
    <input type="text" v-model="newName" v-on:keyUp="addName">
    <input type="button" value="Add me" v-on:click="addName">
</div>



<script type="text/javascript" src="https://unpkg.com/vue@2.1.4/dist/vue.js"></script>
<script type="text/javascript">
    let data = {
        message: 'Hello world',
        names: ['Moeen', 'Emaad', 'Rehan', 'Aamir'],
        newName: ''
    };

    var app = new Vue({
        el: '#root',
        data:data,
        methods:{
            addName: function(){
                this.names.push(this.newName);
                this.newName = '';
            }
        },

        mounted(){

        }
    });

</script>
</body>
</html>
